@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --principal: #313982;
    --secundaria: #4C2D81;
    --terciaria: #265B78;
    --outro: #BD9835;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div.hero {
    display: flex;
    flex-direction: row;
}
/*Header*/

header.cabecalho {
    background-color: var(--principal);
}

/*LOGO DO HEADER*/

img.logo {
    width: 3em;
    height: 3em;
}

#titulo {
    color: var(--outro);
     font-family: "Lobster", sans-serif;
    text-align: center;
    font-size: clamp(3vw, 3.25, 3.5vw);
}

/*FUNÇÕES REAIS DO HEADER*/
nav.nav-bar {
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 24px;
}

/*FUNÇÕES REAIS DA BARRA DE NAVEGAÇÃO*/
ul.nav-list {
    display: flex;
    align-items: center;
    gap: 60px;
    list-style: none;
}

.hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('https://static.vecteezy.com/ti/fotos-gratis/t2/28133374-escola-sala-de-aula-dentro-borrao-fundo-sem-jovem-estudante-embacado-visao-do-elementar-classe-quarto-nao-crianca-ou-professor-com-cadeiras-e-mesas-dentro-campus-costas-para-escola-conceito-generativo-ai-foto.jpg');
    height: 400px;
    padding-top: 50px;
}

.hero main {
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.459);
    margin: 0 auto 2vw auto;
    width: 100%;
    min-width: 300px;
    max-width: 800px;
    height: 30vh;
    background-color: white;
}